<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4">Wilkommen auf der BigBlueButton-Instanz der Widar Schule!</h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">BigBlueButton ist eine OpenSource Plattform zur Video-Kommunikation mit besonderem Augenmerk auf die Bedürfnisse von Online-Unterricht.</p>
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>
<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6">Anmelden und teilnehmen</h2>

  <div class="row feature-stamp">
    <div class="col-lg-6 col-md-6">
	<h4 class="mt-4">Schülerinnen und Schüler</h4>
        <p>Schülerinnen und Schüler bekommen eine Einladung mit einem Link und können dann an einer Unterrichtseinheit teilnehmen.</p>
        <p>Für die Teilnahme ist die Abgabe einer unterschriebenen 
           <%= link_to "https://lehrer.widarschule.de/Datenschutz-bbb-Einwilligung.pdf", target: "_blank" do %>datenschutzrechlichen Einwilligungserklärung<% end %>  notwendig.</p>
    </div>
    <div class="col-lg-6 col-md-6">
      <h4 class="mt-4">Lehrerinnen und Lehrer</h4>
      <p>Lehrerinnen und Lehrer können sich über ihr Login anmelden, Räume anlegen und Schülerinnen und Schüler einladen.</p>	
      <p>Vorbereitete Unterrichtsmaterialien können als PDF hochgeladen werden und dienen als „Präsentationstafel“</p> 
    </div>
  </div>
</div>
